:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
  --font-family-primary: 'spartan', sans-serif;
  --fs-400: .8125rem;
  --fs-500: .9375rem;
  --fs-900: 2rem;
  --br: .5rem;
}

@media (min-width: 50rem) {
  :root {
    --fs-900: 3rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, li */
ul,
li {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center;
  background-image: url(../../images/bg-pattern-top-desktop.svg), url(../../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (min-width: 50em) {
  body {
    padding-top: 7.5rem;
  }
}

h1 {
  font-size: var(--fs-900);
  color: var(--primary-very-dark-magenta);
  line-height: 1;
  max-width: 12ch;
  margin-bottom: .25em;
  font-weight: 600;
}

@media (max-width: 50em) {
  h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}

.lead {
  font-size: var(--fs-500);
}

main {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
}

@media (min-width: 50em) {
  main {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .ratings {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .quotes {
    grid-column: 1/-1;
  }
}

.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: auto;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

@media (min-width: 50em) {
  .split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes li:nth-child(2) {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.quotes li:nth-child(3) {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}

.quotes blockquote {
  background: var(--primary-very-dark-magenta);
  color: var(--neutral-white);
  text-align: left;
  border-radius: var(--br);
  padding: 2rem;
  max-width: 25rem;
  margin: 0 auto;
  height: 100%;
}

.quotes img {
  border-radius: 50%;
  width: 3rem;
}

@media (min-width: 50em) {
  .quotes img {
    margin-right: 2rem;
  }
}

.quotes .name {
  font-weight: 600;
}

.quotes .status {
  color: var(--primary-soft-pink);
}

.quotes .quote {
  margin-top: 2rem;
}

.ratings li {
  background: var(--neutral-light-grayish-magenta);
  color: var(--primary-very-dark-magenta);
  font-weight: 800;
  padding: .75rem 2rem;
  border-radius: var(--br);
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.ratings li::before {
  content: '';
  width: 100px;
  height: 1rem;
  margin: 0 auto;
  display: block;
  background-image: url(../../images/icon-star.svg);
  margin-top: .5rem;
  background-repeat: space;
}

@media (min-width: 50em) {
  .ratings li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .ratings li::before {
    margin: 0 1.5rem 0 0;
  }
  .ratings li:first-of-type {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .ratings li:last-of-type {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
}
/*# sourceMappingURL=main.css.map */