.quotes {
	li {
		&:nth-child(2) {
			transform: translateY(3rem);
		}

		&:nth-child(3) {
			transform: translateY(6rem);
		}
	}
	blockquote {
		background: var(--primary-very-dark-magenta);
		color: var(--neutral-white);
		text-align: left;
		border-radius: var(--br);
		padding: 2rem;
		max-width: 25rem;
		margin: 0 auto;
		height: 100%;
	}

	img {
		border-radius: 50%;
		width: 3rem;

		@media (min-width: 50em) {
			margin-right: 2rem;
		}
	}

	.name {
		font-weight: 600;
	}

	.status {
		color: var(--primary-soft-pink);
	}

	.quote {
		margin-top: 2rem;
	}
}
