.ratings {
	li {
		background: var(--neutral-light-grayish-magenta);
		color: var(--primary-very-dark-magenta);
		font-weight: 800;
		padding: .75rem 2rem;
		border-radius: var(--br);
		max-width: 25rem;
		margin-left: auto;
		margin-right: auto;

		&::before {
			content: '';
			width: 100px;
			height: 1rem;
			margin: 0 auto;
			display: block;
			background-image: url(../../images/icon-star.svg);
			margin-top: .5rem;
			background-repeat: space;
		}

		@media (min-width: 50em) {
			display: flex;
			align-content: center;

			&::before {
				margin: 0 1.5rem 0 0;
			}

			&:first-of-type {
				transform: translateX(-3rem);
			}

			&:last-of-type {
				transform: translateX(3rem);
			}
		}
	}
}
