:root {
	--primary-very-dark-magenta: hsl(300, 43%, 22%);
	--primary-soft-pink: hsl(333, 80%, 67%);

	--neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
	--neutral-light-grayish-magenta: hsl(300, 24%, 96%);
	--neutral-white: hsl(0, 0%, 100%);

	--font-family-primary: 'spartan', sans-serif;

	--fs-400: .8125rem; // 13 px //
	--fs-500: .9375rem; // 15 px //
	--fs-900: 2rem; // 32 px //

	--br: .5rem;

	@media (min-width: 50rem) {
		--fs-900: 3rem;
	}
}
