.container {
	max-width: 70rem;
	padding: 0 2em;
	margin: auto;
}

.flow-content > * + * {
	margin-top: var(--flow-space, 1rem);
}

.split {
	display: flex;
	flex-direction: column;
	gap: 1em;

	@media (min-width: 50em) {
		flex-direction: row;
	}
}

.a-center {
	align-items: center;
}
